//
// VARIABLES
// --------------------------------------------------

$color-text: #fff;
$color-muted: #999;

$color-bg-body: #2f313c;
$color-bg-home: #ffd256;

$pages: (
    'home': #2f313c,
    'gallery': white,
    'products': hotpink,
    'contact': green
);

$debug: false;