footer,
.text > :not(h2) {
  display: none;
}

@import '_variables';
@import '_general';
@import '_mixins';


@each $page, $color in $pages {
  .#{$page} {
    background-color: $color;
  }
}


p {
  margin-bottom: 0px;
}
a {
  color: $color-text;
  text-decoration: none;
}

article {
  width: 640px;
  padding: 30px;
  margin: 0 auto;
  @include pozadie(#d6d6d5);
  border: 2px solid #252525;
  border: 4px solid rgb(248, 234, 234);
  border-radius: 20px;
}

h2 {
  margin-top: 0;
  font: {
    size: 26px;
  }
  text: {
    transform: uppercase;
    shadow: -1px 1px darken(white, 30%);
  }
}

img {
  float: left;
  width: 120px;
  margin: 5px;
  border: 1px solid #252525;
}

.text {
  font-size: 14px;

  p {
    line-height: 16px;
  }

  p:first-of-type {
    font-size: 18px;
    line-height: 26px;
  }

  small {
    font-size: 12px;
    color: rgb(156, 81, 28);
  }
}
